RewriteEngine On
RewriteBase /

# Allow direct access to files in the static directory
RewriteRule ^static/ - [L]

# Rewrite all other requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]